{% extends 'base.html' %}

{% block title %} ログイン {% endblock %}

{% block head %}
{% load static%}
<link href="{% static 'style2.css' %}" rel="stylesheet">

<style>
  .container {
    /* max-width: 800px; */
    width: 100%; 
    margin: 0 auto;
  }

  /* ログインフォームのスタイル */
  /* form {
    margin-left: 0;
    padding: 10px;
  } */
   

  /* メディアクエリでスマートフォン対応 */
  @media screen and (max-width: 768px) {
    .container {
      width: 98%; /* スマートフォンでは幅を90%にする */
      margin: 0;
      padding: 0;
      overflow-x: auto;
    }

    h1 {
      font-size: 1.3rem; /* タイトルのフォントサイズを小さく */
    }

    form {
            width: 100%; /* フォームは画面幅に対応 */
        }

    /* .btn {
      margin-right: 0;
      width: 100%; 
    } */
  }


</style>

{% endblock head %}

{% block content %}
<!-- <div style="width:750px;"> -->
<div class="container">
<h1 style="margin-bottom: 1rem; margin-top: -5%;"> エビングハウス 英単語帳＆メモ帳</h1>
    <div style="display: flex; justify-content: flex-end; width: 100%;">
        <a href ="{% url 'accounts:signup' %}" class="btn btn-secondary" 
        role="button" aria-disabled="true" style="margin-right: 1rem; margin-bottom:2rem;">sign up</a>
    </div>
<form method="post" style="align-items: flex-start; margin-left: 2rem;">
    <h5 style="margin-bottom: 1rem;"> ログイン</h5>
       {% csrf_token %}
        {{ form.as_p }}
    <button type ="submit" style="margin-top: 1rem;">ログイン</button>
</form>
</div>

{% endblock %}