{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'style2.css' %}" rel="stylesheet">

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const hoverMenu = document.getElementById('hoverMenu');
      
      window.addEventListener('mousemove', function(e) {
          if (e.clientX < 100) {
              hoverMenu.style.width = '100px'; 
          } else {
              hoverMenu.style.width = '0';             }
      });
  });

</script>

{% endblock head %}

{% block content %}


<div style="display: flex; flex-direction: column; align-items: center; width: 900px;">
<form action='' method='POST' style="margin-bottom: 50px; display: flex; flex-direction: column; align-items: flex-start; width: 300px;">
    {% csrf_token %}
    <label style="margin-bottom: 10px;">New Memo:</label>
    <textarea name="{{ form.memo.name }}" style="width: 400px; height: 150px; padding: 10px; font-size: 16px; margin-bottom: 10px; resize: vertical;" placeholder="">{{ form.memo.value|default_if_none:'' }}</textarea>

    <!-- <input type="text" name="{{ form.memo.name }}" value="{{ form.memo.value|default_if_none:'' }}" style="width: 100%; height: 45px; padding: 10px; font-size: 16px; margin-bottom: 10px;"> -->
    <input type="submit" value="create" style="width: 80px; height: 30px; font-size: 16px;">
</form>



<!-- <ul style="display: flex; flex-direction: column; align-items: flex-start; width: 800px;"> -->

  <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-start;">
  {% for record in object_list %}
  <ul style="width: 100%; display: flex; justify-content: space-between;">
      <li>
        <span style="flex: 1;">{{ record.memo }}</span>
      </li>
  </ul>
  {% empty %}
    本日の記録はありません。
  {% endfor %}
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cardslide.js' %}"></script>

<div id="hoverMenu">
    <a href="/" >TOP</a>
    <a href="/wlist/list_memo" >メモ帳編集</a>
    <a href="/accounts/login">LOG OUT</a>
</div>


{% endblock content %}