{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'style2.css' %}" rel="stylesheet">

<style>
    body {
        margin: 0;
        overflow: hidden;
    }
    #flashcard-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .flashcard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        text-align: center;
        background: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out;
    }
    .flashcard.hidden {
        display: none;
    }

    .upperpart {
        align-content: center;
        background: #f0f0f0;
        font-size: 5em; 
    }

    .underpart {
        background: whitesmoke;
        font-size: 1em; 
    }

    .graystatus {
        color:#f0f0f0 ;;
    }

    #hoverMenu {
        position: fixed;
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
        background: #333;
        color: white;

        text-align: center;
        overflow: hidden; 
        transition: width 0.2s ease;
    }

</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const hoverMenu = document.getElementById('hoverMenu');
        
        window.addEventListener('mousemove', function(e) {
            if (e.clientX < 100) {
                hoverMenu.style.width = '100px'; 
            } else {
                hoverMenu.style.width = '0';             }
        });
    });

</script>


{% endblock head %}

{% block content %}

<div id="flashcard-container">
    {% for card in drill_records %}
    <div class="flashcard {% if not forloop.first %}hidden{% endif %}" data-index="{{ forloop.counter0 }}">
        <div class = 'upperpart' style="height:60%; font-size: 3em; ">{{ card.word }}</div>
        <div class = 'underpart graystatus' style="height:12%; align-content:center;">{{ card.mean1 }}</div>
        <div class = 'underpart graystatus' style="height:25%; align-content:top;">{{ card.mean2 }}</div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cardslide.js' %}"></script>



<div id="hoverMenu">
    <a href="/" style="display:block;">TOP</a> 
    <a href="/accounts/login">LOG OUT</a>

</div>


{% endblock content %}